.wrapper{
    background-color: #1A1A1A;
    bottom: 0px;
    position: fixed;
    bottom: 0vh;
    height: 75px;
    width: 100vw;
}

body{
    background-color: #222222;
}

.align {
    margin-top: -3px;
  }

p{
    color: azure;
}
